In [1]:
import pandas as pd
from pathlib import Path

In [2]:
ROOT = Path.cwd().parent

ruta = ROOT / "data" / "processed" / "mayor_unificado_04_2024.csv"

In [3]:
df = pd.read_csv(ruta)

In [4]:
df

,cuenta,cta,desccta,comprob,letra,terminal,numero,fecha,concepto,detalle,...,salfin,uni_neg,subuni_neg,descneg,idsector,codsect,descset,fecha_f,proveedor,archivo_origen
0,6004,601010101000,SUELDOS,SUE,,2024,401,30-04-2024,NaN,SUELDOS 04-2024 - RAMOS MEJIA,...,0.0,1,1,Especialidades Medicinales,32,P1510,MANTENIMIENTO TECNICO,- -,0,6000-6009.CSV
1,6004,601010101000,SUELDOS,SUE,,2024,401,30-04-2024,NaN,SUELDOS 04-2024 - RAMOS MEJIA,...,0.0,99,1,OTROS CONVENIOS,49,P1600,PLANTA,- -,0,6000-6009.CSV
2,6004,601010101000,SUELDOS,SUE,,2024,401,30-04-2024,NaN,SUELDOS 04-2024 - RAMOS MEJIA,...,0.0,99,1,OTROS CONVENIOS,57,P1691,SERVICIOS INTEGRADOS,- -,0,6000-6009.CSV
3,6004,601010101000,SUELDOS,SUE,,2024,401,30-04-2024,NaN,SUELDOS 04-2024 - RAMOS MEJIA,...,0.0,1,1,Especialidades Medicinales,43,P1660,RECEPCION PLANTA,- -,0,6000-6009.CSV
4,6004,601010101000,SUELDOS,SUE,,2024,401,30-04-2024,NaN,SUELDOS 04-2024 - RAMOS MEJIA,...,0.0,1,1,Especialidades Medicinales,49,P1600,PLANTA,- -,0,6000-6009.CSV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46497,6215,604060300000,SERVICIO POR ENTREGA DE MERCADERIAS,MIN,,1,16424,30-04-2024,PROV. SS Y GASTOS 04-2024,200075+FAC A-0012-00000121,...,0.0,17,1,FARMAONLINE,20,A3500,VENTAS,- -,0,6162-6220.CSV
46498,6215,604060300000,SERVICIO POR ENTREGA DE MERCADERIAS,MIN,,1,16424,30-04-2024,PROV. SS Y GASTOS 04-2024,10452+TQF A-0004-00000010,...,0.0,17,1,FARMAONLINE,20,A3500,VENTAS,- -,0,6162-6220.CSV
46499,6215,604060300000,SERVICIO POR ENTREGA DE MERCADERIAS,MIN,,1,16424,30-04-2024,PROV. SS Y GASTOS 04-2024,201681+TQF A-0007-00000035,...,0.0,17,1,FARMAONLINE,20,A3500,VENTAS,- -,0,6162-6220.CSV
46500,6215,604060300000,SERVICIO POR ENTREGA DE MERCADERIAS,MIN,,1,16424,30-04-2024,PROV. SS Y GASTOS 04-2024,200507+FAC A-0034-00000045,...,0.0,17,1,FARMAONLINE,20,A3500,VENTAS,- -,0,6162-6220.CSV
46501,6215,604060300000,SERVICIO POR ENTREGA DE MERCADERIAS,MIN,,1,16424,30-04-2024,PROV. SS Y GASTOS 04-2024,201570+TQF A-0009-00000108,...,0.0,17,1,FARMAONLINE,20,A3500,VENTAS,- -,0,6162-6220.CSV

### Correcion del formato apra las siguientes columnas:
1. Fecha - date
2. Mes - date
3. Año - date

In [5]:
df.dtypes

cuenta              int64
cta                 int64
desccta            object
comprob            object
letra              object
terminal            int64
numero              int64
fecha              object
concepto           object
detalle            object
importe           float64
scosto              int64
ccosto              int64
legajo              int64
apenom            float64
dominio           float64
nomdom            float64
saldo             float64
debe              float64
haber             float64
neto              float64
det1               object
saldoini          float64
salfin            float64
uni_neg             int64
subuni_neg          int64
descneg            object
idsector            int64
codsect            object
descset            object
fecha_f            object
proveedor           int64
archivo_origen     object
dtype: object

In [6]:
df["fecha"] = pd.to_datetime(df["fecha"], dayfirst=True,)
df["Mes"] = df["fecha"].dt.month
df["Año"] = df["fecha"].dt.year
print(df["fecha"])
print(df["Mes"])
print(df["Año"])

0       2024-04-30
1       2024-04-30
2       2024-04-30
3       2024-04-30
4       2024-04-30
           ...
46497   2024-04-30
46498   2024-04-30
46499   2024-04-30
46500   2024-04-30
46501   2024-04-30
Name: fecha, Length: 46502, dtype: datetime64[ns]
0        4
1        4
2        4
3        4
4        4
        ..
46497    4
46498    4
46499    4
46500    4
46501    4
Name: Mes, Length: 46502, dtype: int32
0        2024
1        2024
2        2024
3        2024
4        2024
         ...
46497    2024
46498    2024
46499    2024
46500    2024
46501    2024
Name: Año, Length: 46502, dtype: int32

In [7]:
df.dtypes

cuenta                     int64
cta                        int64
desccta                   object
comprob                   object
letra                     object
terminal                   int64
numero                     int64
fecha             datetime64[ns]
concepto                  object
detalle                   object
importe                  float64
scosto                     int64
ccosto                     int64
legajo                     int64
apenom                   float64
dominio                  float64
nomdom                   float64
saldo                    float64
debe                     float64
haber                    float64
neto                     float64
det1                      object
saldoini                 float64
salfin                   float64
uni_neg                    int64
subuni_neg                 int64
descneg                   object
idsector                   int64
codsect                   object
descset                   object
fecha_f                   object
proveedor                  int64
archivo_origen            object
Mes                        int32
Año                        int32
dtype: object

### Drop a las columnas sin valores y no necesarios para el analisis 
1. apenom
2. dominio
3. nomdom

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46502 entries, 0 to 46501
Data columns (total 35 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cuenta          46502 non-null  int64
 1   cta             46502 non-null  int64
 2   desccta         46502 non-null  object
 3   comprob         46502 non-null  object
 4   letra           46502 non-null  object
 5   terminal        46502 non-null  int64
 6   numero          46502 non-null  int64
 7   fecha           46502 non-null  datetime64[ns]
 8   concepto        45191 non-null  object
 9   detalle         45759 non-null  object
 10  importe         46502 non-null  float64
 11  scosto          46502 non-null  int64
 12  ccosto          46502 non-null  int64
 13  legajo          46502 non-null  int64
 14  apenom          0 non-null      float64
 15  dominio         0 non-null      float64
 16  nomdom          0 non-null      float64
 17  saldo           46502 non-null  float64
 18  debe            46502 non-null  float64
 19  haber           46502 non-null  float64
 20  neto            46502 non-null  float64
 21  det1            46502 non-null  object
 22  saldoini        46502 non-null  float64
 23  salfin          46502 non-null  float64
 24  uni_neg         46502 non-null  int64
 25  subuni_neg      46502 non-null  int64
 26  descneg         46502 non-null  object
 27  idsector        46502 non-null  int64
 28  codsect         43739 non-null  object
 29  descset         43739 non-null  object
 30  fecha_f         46502 non-null  object
 31  proveedor       46502 non-null  int64
 32  archivo_origen  46502 non-null  object
 33  Mes             46502 non-null  int32
 34  Año             46502 non-null  int32
dtypes: datetime64[ns](1), float64(10), int32(2), int64(11), object(11)
memory usage: 12.1+ MB

In [9]:
print(df[["apenom", "dominio", "nomdom"]])

       apenom  dominio  nomdom
0         NaN      NaN     NaN
1         NaN      NaN     NaN
2         NaN      NaN     NaN
3         NaN      NaN     NaN
4         NaN      NaN     NaN
...       ...      ...     ...
46497     NaN      NaN     NaN
46498     NaN      NaN     NaN
46499     NaN      NaN     NaN
46500     NaN      NaN     NaN
46501     NaN      NaN     NaN

[46502 rows x 3 columns]

In [10]:
df_eda = df.drop(["apenom", "dominio", "nomdom"], axis=1)
df_eda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46502 entries, 0 to 46501
Data columns (total 32 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cuenta          46502 non-null  int64
 1   cta             46502 non-null  int64
 2   desccta         46502 non-null  object
 3   comprob         46502 non-null  object
 4   letra           46502 non-null  object
 5   terminal        46502 non-null  int64
 6   numero          46502 non-null  int64
 7   fecha           46502 non-null  datetime64[ns]
 8   concepto        45191 non-null  object
 9   detalle         45759 non-null  object
 10  importe         46502 non-null  float64
 11  scosto          46502 non-null  int64
 12  ccosto          46502 non-null  int64
 13  legajo          46502 non-null  int64
 14  saldo           46502 non-null  float64
 15  debe            46502 non-null  float64
 16  haber           46502 non-null  float64
 17  neto            46502 non-null  float64
 18  det1            46502 non-null  object
 19  saldoini        46502 non-null  float64
 20  salfin          46502 non-null  float64
 21  uni_neg         46502 non-null  int64
 22  subuni_neg      46502 non-null  int64
 23  descneg         46502 non-null  object
 24  idsector        46502 non-null  int64
 25  codsect         43739 non-null  object
 26  descset         43739 non-null  object
 27  fecha_f         46502 non-null  object
 28  proveedor       46502 non-null  int64
 29  archivo_origen  46502 non-null  object
 30  Mes             46502 non-null  int32
 31  Año             46502 non-null  int32
dtypes: datetime64[ns](1), float64(7), int32(2), int64(11), object(11)
memory usage: 11.0+ MB

### Anlizar y eliminacion de las columnas cuyo valores son 0 (cero)
1. Letra
2. terminal
3. importe
4. legajo
5. neto
6. saldoini
7. salfin

In [11]:
df_eda.nunique()

cuenta              121
cta                 121
desccta             121
comprob               9
letra                 1
terminal              4
numero             3301
fecha                22
concepto           1764
detalle            4264
importe               1
scosto               20
ccosto                5
legajo                1
saldo             38833
debe              21437
haber              4792
neto                  1
det1               3301
saldoini              1
salfin                1
uni_neg              18
subuni_neg            7
descneg              27
idsector             62
codsect              61
descset              61
fecha_f             136
proveedor          1619
archivo_origen        9
Mes                   1
Año                   1
dtype: int64

In [12]:
df_eda["letra"].unique()

array([' '], dtype=object)

In [13]:
df_eda["terminal"].unique()
df_eda["terminal"]

0        2024
1        2024
2        2024
3        2024
4        2024
         ...
46497       1
46498       1
46499       1
46500       1
46501       1
Name: terminal, Length: 46502, dtype: int64

### Nota
La columna `importe` se encuentra vacía en todos los registros.
Por este motivo se elimina del dataset y el importe contable
se calcula posteriormente como `debe - haber`.

In [14]:
df_eda["importe"].unique()
df_eda["importe"]

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
46497    0.0
46498    0.0
46499    0.0
46500    0.0
46501    0.0
Name: importe, Length: 46502, dtype: float64

In [15]:
df_eda["legajo"].unique()
df_eda["legajo"]

0        0
1        0
2        0
3        0
4        0
        ..
46497    0
46498    0
46499    0
46500    0
46501    0
Name: legajo, Length: 46502, dtype: int64

In [16]:
df_eda["neto"].unique()
df_eda["neto"]

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
46497    0.0
46498    0.0
46499    0.0
46500    0.0
46501    0.0
Name: neto, Length: 46502, dtype: float64

In [17]:
df_eda["saldoini"].unique()
df_eda["saldoini"]

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
46497    0.0
46498    0.0
46499    0.0
46500    0.0
46501    0.0
Name: saldoini, Length: 46502, dtype: float64

In [18]:
df_eda["salfin"].unique()
df_eda["salfin"]

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
46497    0.0
46498    0.0
46499    0.0
46500    0.0
46501    0.0
Name: salfin, Length: 46502, dtype: float64

In [19]:
df_eda = df_eda.drop(["letra", "terminal", "importe", "legajo", "neto", "saldoini", "salfin"], axis=1)
df_eda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46502 entries, 0 to 46501
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cuenta          46502 non-null  int64
 1   cta             46502 non-null  int64
 2   desccta         46502 non-null  object
 3   comprob         46502 non-null  object
 4   numero          46502 non-null  int64
 5   fecha           46502 non-null  datetime64[ns]
 6   concepto        45191 non-null  object
 7   detalle         45759 non-null  object
 8   scosto          46502 non-null  int64
 9   ccosto          46502 non-null  int64
 10  saldo           46502 non-null  float64
 11  debe            46502 non-null  float64
 12  haber           46502 non-null  float64
 13  det1            46502 non-null  object
 14  uni_neg         46502 non-null  int64
 15  subuni_neg      46502 non-null  int64
 16  descneg         46502 non-null  object
 17  idsector        46502 non-null  int64
 18  codsect         43739 non-null  object
 19  descset         43739 non-null  object
 20  fecha_f         46502 non-null  object
 21  proveedor       46502 non-null  int64
 22  archivo_origen  46502 non-null  object
 23  Mes             46502 non-null  int32
 24  Año             46502 non-null  int32
dtypes: datetime64[ns](1), float64(3), int32(2), int64(9), object(10)
memory usage: 8.5+ MB

### Creacion de la columna importe

In [20]:
df_eda["importe"] = df_eda["debe"] - df_eda["haber"]

In [21]:
df_eda

,cuenta,cta,desccta,comprob,numero,fecha,concepto,detalle,scosto,ccosto,...,descneg,idsector,codsect,descset,fecha_f,proveedor,archivo_origen,Mes,Año,importe
0,6004,601010101000,SUELDOS,SUE,401,2024-04-30,NaN,SUELDOS 04-2024 - RAMOS MEJIA,1,100,...,Especialidades Medicinales,32,P1510,MANTENIMIENTO TECNICO,- -,0,6000-6009.CSV,4,2024,1291634.91
1,6004,601010101000,SUELDOS,SUE,401,2024-04-30,NaN,SUELDOS 04-2024 - RAMOS MEJIA,1,104,...,OTROS CONVENIOS,49,P1600,PLANTA,- -,0,6000-6009.CSV,4,2024,-1854460.89
2,6004,601010101000,SUELDOS,SUE,401,2024-04-30,NaN,SUELDOS 04-2024 - RAMOS MEJIA,1,104,...,OTROS CONVENIOS,57,P1691,SERVICIOS INTEGRADOS,- -,0,6000-6009.CSV,4,2024,2441801.77
3,6004,601010101000,SUELDOS,SUE,401,2024-04-30,NaN,SUELDOS 04-2024 - RAMOS MEJIA,1,100,...,Especialidades Medicinales,43,P1660,RECEPCION PLANTA,- -,0,6000-6009.CSV,4,2024,1278582.71
4,6004,601010101000,SUELDOS,SUE,401,2024-04-30,NaN,SUELDOS 04-2024 - RAMOS MEJIA,1,100,...,Especialidades Medicinales,49,P1600,PLANTA,- -,0,6000-6009.CSV,4,2024,48533371.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46497,6215,604060300000,SERVICIO POR ENTREGA DE MERCADERIAS,MIN,16424,2024-04-30,PROV. SS Y GASTOS 04-2024,200075+FAC A-0012-00000121,90,101,...,FARMAONLINE,20,A3500,VENTAS,- -,0,6162-6220.CSV,4,2024,130508.98
46498,6215,604060300000,SERVICIO POR ENTREGA DE MERCADERIAS,MIN,16424,2024-04-30,PROV. SS Y GASTOS 04-2024,10452+TQF A-0004-00000010,90,101,...,FARMAONLINE,20,A3500,VENTAS,- -,0,6162-6220.CSV,4,2024,6382.28
46499,6215,604060300000,SERVICIO POR ENTREGA DE MERCADERIAS,MIN,16424,2024-04-30,PROV. SS Y GASTOS 04-2024,201681+TQF A-0007-00000035,90,101,...,FARMAONLINE,20,A3500,VENTAS,- -,0,6162-6220.CSV,4,2024,10260.15
46500,6215,604060300000,SERVICIO POR ENTREGA DE MERCADERIAS,MIN,16424,2024-04-30,PROV. SS Y GASTOS 04-2024,200507+FAC A-0034-00000045,90,101,...,FARMAONLINE,20,A3500,VENTAS,- -,0,6162-6220.CSV,4,2024,296861.38
46501,6215,604060300000,SERVICIO POR ENTREGA DE MERCADERIAS,MIN,16424,2024-04-30,PROV. SS Y GASTOS 04-2024,201570+TQF A-0009-00000108,90,101,...,FARMAONLINE,20,A3500,VENTAS,- -,0,6162-6220.CSV,4,2024,22213.93

In [22]:
df_eda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46502 entries, 0 to 46501
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cuenta          46502 non-null  int64
 1   cta             46502 non-null  int64
 2   desccta         46502 non-null  object
 3   comprob         46502 non-null  object
 4   numero          46502 non-null  int64
 5   fecha           46502 non-null  datetime64[ns]
 6   concepto        45191 non-null  object
 7   detalle         45759 non-null  object
 8   scosto          46502 non-null  int64
 9   ccosto          46502 non-null  int64
 10  saldo           46502 non-null  float64
 11  debe            46502 non-null  float64
 12  haber           46502 non-null  float64
 13  det1            46502 non-null  object
 14  uni_neg         46502 non-null  int64
 15  subuni_neg      46502 non-null  int64
 16  descneg         46502 non-null  object
 17  idsector        46502 non-null  int64
 18  codsect         43739 non-null  object
 19  descset         43739 non-null  object
 20  fecha_f         46502 non-null  object
 21  proveedor       46502 non-null  int64
 22  archivo_origen  46502 non-null  object
 23  Mes             46502 non-null  int32
 24  Año             46502 non-null  int32
 25  importe         46502 non-null  float64
dtypes: datetime64[ns](1), float64(4), int32(2), int64(9), object(10)
memory usage: 8.9+ MB

### Eliminacion de otras columnas sin uso

In [23]:
df_eda = df_eda.drop(["cta", "saldo", "det1"], axis=1)
df_eda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46502 entries, 0 to 46501
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cuenta          46502 non-null  int64
 1   desccta         46502 non-null  object
 2   comprob         46502 non-null  object
 3   numero          46502 non-null  int64
 4   fecha           46502 non-null  datetime64[ns]
 5   concepto        45191 non-null  object
 6   detalle         45759 non-null  object
 7   scosto          46502 non-null  int64
 8   ccosto          46502 non-null  int64
 9   debe            46502 non-null  float64
 10  haber           46502 non-null  float64
 11  uni_neg         46502 non-null  int64
 12  subuni_neg      46502 non-null  int64
 13  descneg         46502 non-null  object
 14  idsector        46502 non-null  int64
 15  codsect         43739 non-null  object
 16  descset         43739 non-null  object
 17  fecha_f         46502 non-null  object
 18  proveedor       46502 non-null  int64
 19  archivo_origen  46502 non-null  object
 20  Mes             46502 non-null  int32
 21  Año             46502 non-null  int32
 22  importe         46502 non-null  float64
dtypes: datetime64[ns](1), float64(3), int32(2), int64(8), object(9)
memory usage: 7.8+ MB

### Renombramiento de columnas, para mayor claridad

In [24]:
df_eda = df_eda.rename(columns={"cuenta" : "cod_cuenta", 
                                "desccta" : "nombre_cuenta", 
                                "scosto" : "sucursal", 
                                "ccosto" : "centro_costo",
                                "descneg" : "nombre_negocio", 
                                "idsector" : "id_sector", 
                                "codsect" : "cod_sector",
                                "descset" : "nombre_sector",
                                "Mes" : "mes",
                                "Año" : "año",
                                "Archivo Origen" : "archivo_origen"})

In [25]:
df_eda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46502 entries, 0 to 46501
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cod_cuenta      46502 non-null  int64
 1   nombre_cuenta   46502 non-null  object
 2   comprob         46502 non-null  object
 3   numero          46502 non-null  int64
 4   fecha           46502 non-null  datetime64[ns]
 5   concepto        45191 non-null  object
 6   detalle         45759 non-null  object
 7   sucursal        46502 non-null  int64
 8   centro_costo    46502 non-null  int64
 9   debe            46502 non-null  float64
 10  haber           46502 non-null  float64
 11  uni_neg         46502 non-null  int64
 12  subuni_neg      46502 non-null  int64
 13  nombre_negocio  46502 non-null  object
 14  id_sector       46502 non-null  int64
 15  cod_sector      43739 non-null  object
 16  nombre_sector   43739 non-null  object
 17  fecha_f         46502 non-null  object
 18  proveedor       46502 non-null  int64
 19  archivo_origen  46502 non-null  object
 20  mes             46502 non-null  int32
 21  año             46502 non-null  int32
 22  importe         46502 non-null  float64
dtypes: datetime64[ns](1), float64(3), int32(2), int64(8), object(9)
memory usage: 7.8+ MB

### Eliminacion de cuentas de resultado

In [26]:
df_eda[df_eda["importe"] < 0]

,cod_cuenta,nombre_cuenta,comprob,numero,fecha,concepto,detalle,sucursal,centro_costo,debe,...,nombre_negocio,id_sector,cod_sector,nombre_sector,fecha_f,proveedor,archivo_origen,mes,año,importe
1,6004,SUELDOS,SUE,401,2024-04-30,NaN,SUELDOS 04-2024 - RAMOS MEJIA,1,104,0.0,...,OTROS CONVENIOS,49,P1600,PLANTA,- -,0,6000-6009.CSV,4,2024,-1854460.89
287,6005,CARGAS SOCIALES,MIN,16386,2024-04-30,REC DTO 814 2024-04,REC DTO 814 2024-04,90,102,0.0,...,Sin negocio,17,A2500,IMPUESTOS,- -,0,6000-6009.CSV,4,2024,-5781698.04
518,6005,CARGAS SOCIALES,MIN,16578,2024-04-30,REV PROVI AMEX 03-2024,REV PROVISIÓN DE GS AMEX 12-2023,90,102,0.0,...,Sin negocio,0,NaN,NaN,- -,0,6000-6009.CSV,4,2024,-2685942.24
519,6005,CARGAS SOCIALES,MIN,16578,2024-04-30,REV PROVI AMEX 03-2024,REV PROVISIÓN DE GS AMEX 03-2024,90,102,0.0,...,Sin negocio,0,NaN,NaN,- -,0,6000-6009.CSV,4,2024,-5370832.11
520,6005,CARGAS SOCIALES,MIN,16578,2024-04-30,REV PROVI AMEX 03-2024,REV PROVISIÓN DE GS AMEX 08-2023,90,102,0.0,...,Sin negocio,0,NaN,NaN,- -,0,6000-6009.CSV,4,2024,-2220592.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44068,6215,SERVICIO POR ENTREGA DE MERCADERIAS,MIN,16397,2024-04-02,REVERSA MIN-0001-00016395,9750+FAC A-0026-00031989,90,101,0.0,...,FARMAONLINE,30,A2700,MARKETING,- -,0,6162-6220.CSV,4,2024,-6315.86
44069,6215,SERVICIO POR ENTREGA DE MERCADERIAS,MIN,16397,2024-04-02,REVERSA MIN-0001-00016395,203197+TQF A-0005-00000737,90,101,0.0,...,FARMAONLINE,20,A3500,VENTAS,- -,0,6162-6220.CSV,4,2024,-10255.64
44070,6215,SERVICIO POR ENTREGA DE MERCADERIAS,MIN,16397,2024-04-02,REVERSA MIN-0001-00016395,201145+TQF A-0009-00000102,90,101,0.0,...,FARMAONLINE,20,A3500,VENTAS,- -,0,6162-6220.CSV,4,2024,-17779.54
44071,6215,SERVICIO POR ENTREGA DE MERCADERIAS,MIN,16397,2024-04-02,REVERSA MIN-0001-00016395,203160+TQF A-0007-00000134,90,101,0.0,...,FARMAONLINE,20,A3500,VENTAS,- -,0,6162-6220.CSV,4,2024,-29337.51
44072,6215,SERVICIO POR ENTREGA DE MERCADERIAS,MIN,16397,2024-04-02,REVERSA MIN-0001-00016395,203654+TQF A-0003-00000048,90,101,0.0,...,FARMAONLINE,20,A3500,VENTAS,- -,0,6162-6220.CSV,4,2024,-72298.20

##### Como se puede observar, hay importes muy elevados con saldo acredoor, lo que hizo anmalizar el plan de cuentas y detectar que en la bajada de mayores de gastos, tambien habia cuentas de ingreso

##### Para poder eliminar esas cuentas, se hizo un listado de las cuentas de ingresos

In [27]:
cuentas_ingreso = [
    6157, 6159, 6160, 6162, 6194, 6206, 6164, 6168,
    6183, 6213, 6165, 6214, 6220, 6166, 6179, 6180, 6218
]
df_eda = df_eda[~df_eda["cod_cuenta"].isin(cuentas_ingreso)].copy()

In [28]:
df_eda[df_eda["cod_cuenta"] == 6164]

Empty DataFrame
Columns: [cod_cuenta, nombre_cuenta, comprob, numero, fecha, concepto, detalle, sucursal, centro_costo, debe, haber, uni_neg, subuni_neg, nombre_negocio, id_sector, cod_sector, nombre_sector, fecha_f, proveedor, archivo_origen, mes, año, importe]
Index: []

[0 rows x 23 columns]